body {
    font-family: "roboto";
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.header {
    display: flex;
    color: rgb(219, 219, 219);
    background-color: #1f2937;
    padding: 20px 270px;
    justify-content: space-between;
    font-size: 34px;

}

.logo {
    font-weight: bold;
}

.headerlinks {
    align-self: center;
}

.headerlinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    font-size: 26px;
}

.herosection {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 100px 270px;
}


.herosection .card {
    background-color: #1f2937;
    color: bisque;
    width: 600px;
    height: 300px;
    flex: 1;
    gap: 20px;
    display: flex;
    flex-direction: column;
    
}

.hero {
    color: #f9faf8;
    font-size: 52px;
    font-weight: 900;
    
}

.sub-hero {
    color: #efe7eb;
    font-size: 22px;
    margin-right: 20px;
}

.herosection button {
    background-color: #3882f6;
    padding: 8px 44px;
    font-size: 22px;
    font-weight: bold;
    color:#efe7eb;
    border-radius: 10px;
    border: none;
}

.second {
    display: flex;
    flex: 1;
}

.second .card  {
    background-color: #788497;
    color: bisque;
}

.box-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 0 80px 0;
    gap: 50px;
    

}

.box-section-header {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

.boxes {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.box1,
.box2,
.box3,
.box4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.one {
    background-color: #81b1ff;
}

.two {
    background-color: #5c9aff;
}

.three {
    background-color: #418aff;
}

.four {
    background-color: #156fff;
}

.box {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    

}

.subtext {
    word-wrap: normal;
    width: 180px;
    text-align: center;
    color: rgb(131, 131, 131);
    font-size: 20px;
}

.quote-section {
    background-color: #dadada;
}

.quote-container {
    margin: 100px 0;
}

.quote {
    font-size: 40px;
    color: #1f2937;
    font-style: italic;
    text-align: start;
    margin: 0 540px 20px 540px;
}

.name {
    font-weight: bold;
    font-size: 24px;
    text-align: end;
    margin: 0 560px;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.card.blue {
    width: 1200px;
    height: 150px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.sub-card-blue {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0 100px;
}

.action-call {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.sub-action {
    color: #f9faf8;
    font-size: 20px;
}

.action-section button {
    background-color: #3882f6;
    padding: 8px 44px;
    font-size: 22px;
    font-weight: bold;
    color:#efe7eb;
    border-radius: 10px;
    border: 3px solid #efe7eb;
}

.footer {
    display: flex;
    color: rgb(219, 219, 219);
    background-color: #1f2937;
    padding: 20px;
    justify-content: center;
    font-size: 18px;

}